<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>png</key>
	<string>image/png</string>
	<key>jpeg</key>
	<string>image/jpeg</string>
	<key>jpg</key>
	<string>image/jpeg</string>
	<key>gif</key>
	<string>image/gif</string>
	<key>doc</key>
	<string>application/msword</string>
	<key>docx</key>
	<string>application/vnd.openxmlformats-officedocument.wordprocessingml.document</string>
	<key>xls</key>
	<string>application/vnd.ms-excel</string>
	<key>xlsx</key>
	<string>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</string>
	<key>ppt</key>
	<string>application/vnd.ms-powerpoint</string>
	<key>pptx</key>
	<string>application/vnd.openxmlformats-officedocument.presentationml.presentation</string>
	<key>xml</key>
	<string>text/xml</string>
	<key>txt</key>
	<string>text/plain</string>
	<key>pdf</key>
	<string>application/pdf</string>
	<key>zip</key>
	<string>application/zip</string>
	<key>sit</key>
	<string>application/stuffit</string>
	<key>gz</key>
	<string>application/x-gzip</string>
	<key>tar</key>
	<string>application/x-tar</string>
	<key>mp3</key>
	<string>audio/mpeg</string>
	<key>wav</key>
	<string>audio/vnd.wave</string>
	<key>tif</key>
	<string>image/tiff</string>
	<key>tiff</key>
	<string>image/tiff</string>
	<key>mov</key>
	<string>video/quicktime</string>
	<key>m4a</key>
	<string>audio/mp4</string>
	<key>m4v</key>
	<string>video/x-m4v</string>
	<key>bmp</key>
	<string>image/bmp</string>
	<key>mp4</key>
	<string>video/mp4</string>
	<key>html</key>
	<string>text/html</string>
	<key>htm</key>
	<string>text/html</string>
	<key>rtf</key>
	<string>application/rtf</string>
	<key>x3d</key>
	<string>application/vnd.hzn-3d-crossword</string>
	<key>pwn</key>
	<string>application/vnd.3m.post-it-notes</string>
	<key>mseq</key>
	<string>application/vnd.mseq</string>
	<key>exe</key>
	<string>application/x-msdownload</string>
	<key>plb</key>
	<string>application/vnd.3gpp.pic-bw-large</string>
	<key>psb</key>
	<string>application/vnd.3gpp.pic-bw-small</string>
	<key>pvb</key>
	<string>application/vnd.3gpp.pic-bw-var</string>
	<key>tcap</key>
	<string>application/vnd.3gpp2.tcap</string>
	<key>7z</key>
	<string>application/x-7z-compressed</string>
	<key>abw</key>
	<string>application/x-abiword</string>
	<key>ace</key>
	<string>application/x-ace-compressed</string>
	<key>acc</key>
	<string>application/vnd.americandynamics.acc</string>
	<key>acu</key>
	<string>application/vnd.acucobol</string>
	<key>atc</key>
	<string>application/vnd.acucorp</string>
	<key>adp</key>
	<string>audio/adpcm</string>
	<key>aab</key>
	<string>application/x-authorware-bin</string>
	<key>aam</key>
	<string>application/x-authorware-map</string>
	<key>aas</key>
	<string>application/x-authorware-seg</string>
	<key>air</key>
	<string>application/vnd.adobe.air-application-installer-package+zip</string>
	<key>swf</key>
	<string>application/x-shockwave-flash</string>
	<key>fxp</key>
	<string>application/vnd.adobe.fxp</string>
	<key>ppd</key>
	<string>application/vnd.cups-ppd</string>
	<key>dir</key>
	<string>application/x-director</string>
	<key>xdp</key>
	<string>application/vnd.adobe.xdp+xml</string>
	<key>xfdf</key>
	<string>application/vnd.adobe.xfdf</string>
	<key>ahead</key>
	<string>application/vnd.ahead.space</string>
	<key>azf</key>
	<string>application/vnd.airzip.filesecure.azf</string>
	<key>azs</key>
	<string>application/vnd.airzip.filesecure.azs</string>
	<key>azw</key>
	<string>application/vnd.amazon.ebook</string>
	<key>ami</key>
	<string>application/vnd.amiga.ami</string>
	<key>apk</key>
	<string>application/vnd.android.package-archive</string>
	<key>cii</key>
	<string>application/vnd.anser-web-certificate-issue-initiation</string>
	<key>p12</key>
	<string>application/x-pkcs12</string>
	<key>p10</key>
	<string>application/pkcs10</string>
	<key>p7m</key>
	<string>application/pkcs7-mime</string>
</dict>
</plist>
